/* Estilo base da Navbar */
.navbar {
    background-color: #000000;
    border-bottom: 2px solid #c5a12e;
    border-top: 2px solid #c5a12e;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* NOVO ESTILO PARA O LOGÓTIPO */
.navbar-brand img {
    max-height: 100px; /* Controla a altura máxima do logo */
    width: auto;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo cinza claro semi-transparente */
    border-radius: 50%; /* Deixa o fundo circular */
    padding: 5px; /* Pequeno espaçamento interno */
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.7); /* Adiciona um brilho dourado */
}

/* Cor dos links de navegação */
.nav-link {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5em;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

/* Efeito ao passar o mouse sobre os links */
.nav-link:hover, .nav-link:focus {
    color: #d4af37;
}

/* CLASSE para o link da página ativa */
.nav-link.active-link {
    color: #d4af37;
    border-bottom-color: #d4af37;
}

/* --- Botão de Login/Logar --- */
.auth-link-button {
    background-color: #d4af37;
    color: #000000 !important;
    border-radius: 32px;
    font-size: 1em !important;
    padding: 0.5em 1em !important;
    transition: all 0.3s ease-in-out;
    border: none;
}

.auth-link-button:hover, .auth-link-button:focus {
    background-color: #ffffff;
    color: #000000 !important;
    transform: scale(1.05);
}

/* --- Estilos para o Menu Dropdown do Usuário Logado --- */
.user-menu-button {
    font-size: 1.3em !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background: none;
    border: none;
}

/* Fundo escuro para o menu inteiro */
.dropdown-menu {
    background-color: #2a2a2a;
    border: 1px solid #444;
    padding: 0.25rem 0;
}

/* Estilo geral para os itens e texto cinza claro */
.dropdown-item {
    color: #ced4da;
    font-size: 1.2em !important;
    padding: 0.75rem 1.25rem;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
}

/* Efeito de hover para todos os itens */
.dropdown-item:hover {
    background-color: #3c4248;
    color: #ffffff;
}

/* Separador */
.dropdown-divider {
    border-top: 1px solid #444;
}

/* COR DOS ÍCONES INDIVIDUAIS */
.settings-link i {
    color: #c5a12e;
}
.logout-link i {
    color: #dc3545;
}